<!DOCTYPE HTML>
<html>
	<head>
		<title>WebMonks - An Innovative Technology Company with a social impact</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">WebMonks Agency</a></h1>
						<nav>
							<a href="#one">Services</a>
							<a href="#four">Impact</a>
							<a href="#">Jobs</a>
							<a href="#footer">Contact</a>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<!--<div class="logo"><span class="icon fa-diamond"></span></div>-->
							<div class="logo">
								<img width="160" src="https://raw.githubusercontent.com/TheWebMonks/assets/gh-pages/webmonks/logo/logo-white.png"/>
							</div>
							<h2>WebMonks <span style="color:#2e3141">Agency</span></h2>
						</div>
						<div class="inner">
							<p>An Innovative Technology Company with a social impact</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="static/images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Computer Vision</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="static/images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Virtual Reality</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="static/images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Internet of Things</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Social Impact</h2>
									<p>We believe that talent is equally distributed around the world, but opportunity is not. We want to change how the world works.</p>

									<p>Impact Sourcing is a socially responsible arm of the Business Process Outsourcing (BPO) industry that intentionally employs people
										who have limited opportunity for employment - often in low-income areas.</p>

									<p>At WebMonks, we like to take that definition one step further by investing in our workforce and emphasizing personal development that brings hope to families and communities.
										We don't view Impact Sourcing as simply a strategy or just the latest fad in sustainable development initiatives.
										Instead, the goal of positively impacting the lives of workers and their families drives every facet of our business.</p>

									<section class="features">
										<article>
											<a href="#" class="image"><img src="static/images/pic06.jpg" alt="" /></a>
											<h3 class="major">WebMonks Team</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic07.jpg" alt="" /></a>
											<h3 class="major">WebMonks Academy</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>

							<ul class="contact">
								<li class="fa-home">
									Corda Incubator <br />
									Kempische Steenweg 311/1.02<br />
									3500 Hasselt, Belgium
								</li>
								<li class="fa-phone">+32 (0) 470 87 67 52</li>
								<li class="fa-envelope"><a href="#">hello@webmonks.io</a></li>
								<li class="fa-medium"><a href="https://medium.com/webmonks">medium.com/webmonks</a></li>
								<li class="fa-github"><a href="https://github.com/thewebmonks">github.com/thewebmonks</a></li>
								<!--<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>-->
								<!--<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>-->
								<!--<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>-->
							</ul>
							<ul class="copyright">
								<li>&copy; 2017 WebMonks. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>
